/* body */
body {
    background-color: #111111;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #eeeeee;
    text-align: center;
}

/* Header */
.header {
    padding: 0 0 1rem;
}
.logo {
    max-width: 75%;
    margin: 1em 12.5%;
}
.links {
    text-align: center;
    font-size: 3rem;
}
.links .link {
    margin: 1.5rem;
    text-transform: capitalize;
}
.link a {
    color: #004776;
}

/* About */
.about {
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 50%;
    padding: 8rem 1rem;
}
.about h1 {
    font-family: 'Rozha One', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 64px;
}
.biog {
    text-align: center;
}
.biog p {
    margin-bottom: 1rem;
}
.photo {
    text-align: center;
}
.pic {
    max-width: 90%;
}



/* Quotes */
.quotes {
    background-image: url("../images/quotes-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 50%;
    padding: 8rem 1rem;
}


/* Release */
.release {
    margin: 2rem;
}
.artwork {
    text-align: center;
}
.artwork h3 {
    padding-top: 4rem;
}
.cover {
    max-width: 90%
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.75), rgba(238, 238, 238, 0));
    margin: 1.5rem;
}
.button {
    margin-bottom: 1rem;
}
.quote {
    text-align: left;
    font-weight: bold;
    margin-bottom: 1rem;
}
.attribute {
    text-align: right;
}
.fas {
    font-size: 16px;
    padding-right: 0.5rem;
}

/* Socials */
.socials {
    margin-top: 4rem;
    margin-bottom: auto;
    text-align: center;
    font-size: 3rem;
}
.socials .social {
    margin: 1.5rem;
}
.social a {
    color: #fff;
    text-decoration: none;
}

/* Mailing List */
.form {
    padding-top: 2.5rem;
    text-align: center;
}
.names input {
    margin: auto 0.25rem 0.75rem;
    width: 33%;
    color: #111111;
}
.address input {
    margin: auto 0.25rem 0.75rem;
    width: 67%;
    color: #111111;
}

/* Copyright */
.copyright {
    text-align: center;
}



/*             */
/*             */
/* EXTRA PAGES */
/*             */
/*             */

/* Bio */
/* .bio {
    text-align: center;
    font-size: 18px;
}
.bio p {
    margin: 1rem;
} */

/* Gigs */
/* .gigs {
    text-align: center;
    font-size: 18px;
}
.table {
    margin-left: 12.5%;
    min-width: 50%;
    max-width: 75%;
} */
