/* body */
body {
    background-color: #111111;
    color: #eeeeee;
}

/* Header */
.header {
    padding: 0 0 3rem;
}
.logo {
    max-width: 75%;
    margin: 1em 12.5%;
}
.links {
    text-align: center;
    font-size: 3rem;
}
.links .link {
    margin: 1.5rem;
}
.link a {
    color: #004776;
}

/* Quotes */
.quotes {
    background-image: url("../images/quotes-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 50%;
    padding: 8rem;
}
.quote {
    font-weight: bold;
    margin-bottom: 1rem;
}
.attribute {
    text-align: right;
}

/* Release */
.release {
    margin: 2rem;
}
.artwork {
    text-align: center;
}
.artwork h3 {
    padding-top: 4rem;
}
.cover {
    max-width: 90%
}
.form {
    padding-top: 2.5rem;
    text-align: center;
}
.form h4 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.names input {
    margin: auto 0.25rem 0.75rem;
    width: 33%;
    color: #111111;
}
.address input {
    margin: auto 0.25rem 0.75rem;
    width: 69%;
    color: #111111;
}

/* Bio */
.bio {
    text-align: center;
    font-size: 18px;
}
.bio p {
    margin: 1rem;
}

/* Gigs */
.gigs {
    text-align: center;
    font-size: 18px;
}
.table {
    margin-left: 12.5%;
    min-width: 50%;
    max-width: 75%;
}

/* Socials */
.socials {
    margin-top: 4rem;
    margin-bottom: auto;
    text-align: center;
    font-size: 3rem;
}
.socials .social {
    margin: 1.5rem;
}
.social a {
    color: #fff;
    text-decoration: none;
}

/* Copyright */
.copyright {
    text-align: center;
}
